.button--out-of-stock {
  pointer-events: none;
  background-color: #fff;
  color: #c90606;
  border-color: transparent;
}

.out-of-stock__warning {
  margin: 5px auto 0 auto;
  display: block;
  padding-right: 5px;
  font-size: 12px;
  line-height: 12px;
  color: #131212;
  top: 35px;
  text-align: center;
  letter-spacing: 0.02em;
}

.out-of-stock__warning:hover {
  opacity: 0.8;
}
