.cart-item__quantity {
  position: relative;
}

.counter__warning {
  display: block;
  padding-right: 5px;
  font-size: 10px;
  line-height: 12px;
  color: #eb5555;
  position: absolute;
  top: 35px;
  text-align: center;
  letter-spacing: 0.02em;
}

.counter__warning--store {
  color: #07742c;
}
